*{
  margin: 0px;
  padding: 0px;
  
  font-family: "Kanit", sans-serif;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); /* Adjust scale as needed */
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); /* Adjust scale as needed */
  }
}

.circle-bg-danger {
  display: inline-block;
  border-radius: 50%; /* Makes the background a circle */
  background-color: lightcoral; /* Adjust background color */
  color: white; /* Adjust text color */
  width: 50px; /* Set width for circle */
  height: 50px; /* Set height for circle */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease; /* Smooth transition on hover */
}

.circle-bg-danger:hover {
  animation: pulse 1.5s infinite ease-in-out;
  cursor: pointer; /* Change cursor to indicate hover */
}





.course-card {
  width: 100%;
  max-width: 22rem;
  min-height: 400px; /* Ensures all cards have the same height */
  display: flex;
  flex-direction: column;
}

.course-img {
  height: 180px; /* Adjust this value based on your design */
  object-fit: cover; /* Ensures images fit well without stretching */
}

.course-card .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* footer */
.footer {
  width: 100%;
}

.small-text {
  font-size: 14px;
}

.footer-link {
  text-decoration: none;
  color: white;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-icon {
  color: white;
  transition: color 0.3s ease;
}

.footer-icon:hover {
  color: #ddd;
}

.input-group .form-control {
  border-radius: 5px;
}

.input-group .btn {
  border-radius: 5px;
}








